# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*.tmp
*.temp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE / editor files
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.code-workspace

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
.packages

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android / iOS build artifacts
/android/app/debug
/android/app/profile
/android/app/release
**/android/**/build/
**/ios/**/build/
**/macos/**/build/
**/windows/**/build/
**/linux/**/build/
**/web/**/build/

# Local environment files
*.local
.env
.env.*
.fvm/

